<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head th:replace="format :: headBootstrap">
    <title>Cadastro | Stockman</title>
    <style>

        label{
        padding-left:10px;
        }

        .justf{
            margin: 0 auto;
        }
    </style>
</head>
<body>



<div th:replace="format :: navlinks"></div>
<div class="container" style="padding-left:10px;padding-top:30px;">
    <h2 class="h1 text-center">Cadastro de Produtos</h2>
<!--    <div class="alert alert-danger alert-dismissible" role="alert" th:if="${not #strings.isEmpty(produto)}">
        <span th:text="mensagem"></span>
    </div>-->

<!--    <th:block th:include="msgErro"></th:block>-->
    <form style="padding-top:30px;" action="#" th:action="@{/process}" th:object="${produto}" method = "post">

        <div class="row">
            <div class="col-6 form-group">
                <label for="nomeproduto" class="col-sm-2 col-form-label col-form-label-sm">Nome*</label>
                <input type="text" th:field="*{nome}" class="form-control" id="nomeproduto" aria-describedby="emailHelp">
                <span style="font-size:10px ;color: #bf0000;" th:if="${#fields.hasErrors('nome')}"
                      th:errors="*{nome}"></span><br>
            </div>
            <div class="col mb-3">
                <label class="form-label col-sm-2 col-form-label col-form-label-sm" for="categoriaproduto">Categoria*</label>
                <select class="form-control" id="categoriaproduto" th:field="*{categoria}">
                    <option value="0" classselected>Escolher ...</option>
                    <option value="1">Roupa</option>
                    <option value="2">Calçado</option>
                    <option value="3">Informática</option>
                    <option value="4">Eletrodoméstico</option>
                    <option value="5">Móvel</option>
                    <option value="6">Brinquedo</option>
                </select>

            </div>
            <div class="col form-group">
                <label for="fornecedorproduto" class="col-sm-2 col-form-label col-form-label-sm">Fornecedor*</label>
                <input type="text" class="form-control" id="fornecedorproduto" th:field="*{fornecedor}">
                <span style="font-size:10px ;color: #bf0000;" th:if="${#fields.hasErrors('fornecedor')}"
                      th:errors="*{fornecedor}"></span><br>
            </div>
        </div>
        <div class="row">
            <div class="col form-group">
                <label for="investimentoproduto" class="col-sm-2 col-form-label col-form-label-sm">Investimento*</label>
                <input type="text" class="form-control" id="investimentoproduto" th:field="*{investimento}" placeholder="R$ 00,00">
                <span style="font-size:10px ;color: #bf0000;" th:if="${#fields.hasErrors('investimento')}"
                      th:errors="*{investimento}"></span><br>
            </div>
            <div class="col form-group">
                <label for="precoproduto" class="col-sm-2 col-form-label col-form-label-sm">Preço*</label>
                <input type="text" class="form-control" id="precoproduto" th:field="*{preco}" placeholder="R$ 00,00">
                <span style="font-size:10px ;color: #bf0000;" th:if="${#fields.hasErrors('preco')}"
                      th:errors="*{preco}"></span><br>
            </div>

            <div class="col form-group">
                <label for="pesoproduto" class="col-sm-2 col-form-label col-form-label-sm">Peso* (Kg)</label>
                <input type="text" class="form-control" id="pesoproduto" th:field="*{peso}" placeholder="0 Kg">
                <span style="font-size:10px ;color: #bf0000;" th:if="${#fields.hasErrors('peso')}"
                      th:errors="*{peso}"></span><br>
            </div>
            <div class="col form-group">
                <label for="corproduto" class="col-sm-2 col-form-label col-form-label-sm">Cor</label>
                <select class="form-control" id="corproduto">
                    <option classselected>Nenhum</option>
                    <option value="1">Branco</option>
                    <option value="2">Vermelho</option>
                    <option value="3">Azul</option>
                    <option value="4">Verde</option>
                    <option value="5">Amarelo</option>
                    <option value="6">Roxo</option>
                    <option value="7">Laranja</option>
                </select>
            </div>

            <div class="col form-group">
                <label for="modeloproduto" class="col-sm-2 col-form-label col-form-label-sm">Modelo</label>
                <input type="text" th:field="*{modelo}" class="form-control" id="modeloproduto">
            </div>
            <div class="col form-group">
                <label for="fabricanteproduto" class="col-sm-2 col-form-label col-form-label-sm">Fabricante*</label>
                <input type="text" class="form-control" id="fabricanteproduto" th:field="*{fabricante}">
                <span style="font-size:10px ;color: #bf0000;" th:if="${#fields.hasErrors('fabricante')}"
                      th:errors="*{fabricante}"></span><br>
            </div>
        </div>
        <div class="mb-3">
            <label for="descriptionproduto" class="col-sm-2 col-form-label col-form-label-sm">Descrição</label>
            <textarea class="form-control" id="descriptionproduto" rows="3" th:field="*{descricao}"></textarea>
        </div>
        <div class="text-center">
            <a href="/gerenciador" class="btn btn-danger">Voltar</a>
            <button type="submit" class="btn btn-success">Confirmar</button>
        </div>

    </form>
</div>
<div th:replace="format :: rodape"></div>
</body>
</html>